* {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    
}

body {
    background: linear-gradient( #ffa07a, #fa8072, #e9967a);
    font-family: Alatsi;
    line-height: 2.5;
}

.logo {
    position: absolute;
    top: 5%;
    left: 38%;
    font-size: 40px;
    color: #20b2aa;
}

.image {
    width: 300px;
    height: 300px;
    border: 5px solid #8fbc8f;
}

.item-1 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #f0fff0;
}

.item-2 {
    position: absolute;
    left: 150%;
    top: 0.6%;
    color: #f0fff0;
}

.item-3 {
    position: absolute;
    top: 70%;
}

.item-4 {
    position: absolute;
    left: 150%;
    top: 80%;
}

.item-6 {
    position: absolute;
    left: 150%;
    top: 160%;
}
