* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: thistle;
    font-family: Alegreya;
    height: 100vh;
    overflow-x: hidden;
}

.headline {
    text-align: center;
    padding-top: 20px;
    border: rosybrown 5px solid;
    background-color: #f5f5f5;
}

.name {
    font-size: 80px;
    color: #dda0dd;
    text-shadow: #ffefd5 4px 0 10px;
    font-weight: 1000;
}

.address {
    font-size: 40px;
    color: #dda0dd;
    text-shadow: #ffefd5 4px 0 10px;
    font-weight: 900;
}

.hours {
    font-size: 15px;
    color: #dda0dd;
    text-shadow: #ffefd5 4px 0 10px;
    font-size: 600;
}

.menu {
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-auto-rows: minmax(100px, auto);
}

.image {
    height: 400px;
    width: 400px;
    cursor: pointer;
    opacity: 1.0;
    filter: opacity(100);
    position: relative;
}
.info {
    text-align: center;
    font-size: 25px;
}

h3 {
    border-bottom: 2px solid #ffefd5;
}

.description {
    color: #008080;
    position: absolute;
    top: 500px;
    right: 520px;
    transition: opacity 0.1s ease-in;
    opacity: 0;
}

.image:hover {
    opacity: 0.5;
    filter: opacity(40);
}

.description:hover {
    opacity: 1;
}

.description-1 {
    color: #008080;
    position: absolute;
    top: 550px;
    right: 25px;
    transition: opacity 0.1s ease-in;
    opacity: 0;
}

.description-1:hover {
    opacity: 1;
}

.description-2 {
    color: #008080;
    position: absolute;
    top: 500px;
    right: -450px;
    transition: opacity 0.1s ease-in;
    opacity: 0;
}

.description-2:hover {
    opacity: 1;
}
